/env/
/models_saved/dataset_educatif.csv1/
/models_saved/mon_chatbot_EN_v22/
/chatbot-frontend/node_modules/

*.zip
*.xlsx
/notebooks/:0.26.0
/notebooks/.ipynb_checkpoints/
/notebooks/checkpoints_temp/
# OS & IDE
__pycache__/
.vscode/
.DS_Store

env/
.venv/
venv/
.python-version

.env

src/raq_model/
src/